@model IEnumerable<VideoGameStore2.Models.Game>

@{
    ViewData["Title"] = "Index";
}
<style type="text/css">
    .embed-responsive .card-img-top {
        object-fit: cover;
    }
</style>
<h2>Welcome to our terrible online game store!</h2>


<div class="row">
    @foreach (var item in Model)
    {
        await Html.RenderPartialAsync("GameCard", item);
    }
</div>

